.Header {
    color: white;
    text-align: center;
    font-size: 1.8rem;
    height: 545px;
    margin-top: 0;
}

.Header_h1{
    margin: 0;
    padding-top: 50px;
}

.Text_div {
    margin: auto;
    font-family: 'Indie Flower', cursive;
}


@media (max-width:850px){
    .Header{
        font-size: 1.1rem;
        height: 400px;
    }
}
