.Header {
    position: relative;
    color: white;
    text-align: center;
    font-size: 1.8rem;

}

.Text_div {
    margin: auto;
    position: absolute;
    top:10px;
    left:40px;
    font-family: 'Indie Flower', cursive;
}

.Header_image {
    height: auto;
    
}
